<h2>Log in</h2>

<div class="login">
  <form action="/spots" method="post">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">password</label>
    <input type="text" name="password">
    <button type="submit" name="button">Submit</button>
  </form>
</div>
