
// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    width: 600px;
    height: 400px;
}
#map2 {
    width: 600px;
    height: 400px;
    float: right;
}
#bigMap {
    width: 600px;
    height: 400px;
}

.basic_map {
  border: 8px rgb(255,50,50) solid;
  border-radius: 20px;
}

.photo_box {
  float: right;
}

.photo {
width: 250px;
}

.review_box {
  float: right;
  padding: 2%;
}
